/*

* Override Pages default styles or create your own styles here

*/
.al-center{
	margin:0 auto;
}
.fl{float:left;}
.fr{float:right;}

/*DASHBOARD2 BEGIN*/
.flex-box{display: flex;justify-content: space-between;align-items: center;}

.info-card{/*width:270px;*/}
.card-inner{padding:20px 33px;overflow: hidden;}

.te-error {color: #ec4758;}
.te-warn {color: #f9ac51;}
.te-urgent {color: #7264bd;}
.te-serious {color: #21b9bb;}

.th-error {background-color: #ec4758;}
.th-warn {background-color: #f9ac51;}
.th-urgent {background-color: #7264bd;}
.th-serious {background-color: #21b9bb;}

.error-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/error.png) no-repeat center center;}
.warn-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/warn.png) no-repeat center center;}
.urgent-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/urgent.png) no-repeat center center;}
.serious-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/serious.png) no-repeat center center;}

.th-error .mo-color-error{background-color: #e6323d;}
.th-warn .mo-color-warn{background-color: #f79339;}
.th-urgent .mo-color-urgent{background-color: #5046a9;}
.th-serious .mo-color-serious{background-color: #17a4a6;}


.warn-detail{width:40px;}
.warn-num{width:40px;font-size: 34px;line-height:34px;color:#ffffff;font-weight: 500;text-align: center;}
.warn-type{width:40px;font-size: 16px;line-height:16px;color:#ffffff;font-weight: 500;margin-top: 2px;text-align: center;}
.more-inner{padding:7px 15px;display:flex;justify-content: space-between;align-items: center;}
.more-inner span{color:#ffffff;font-weight: 500;}
.warn-arrow{width:11px;height:13px;background: url(../img/dashboard/more-arrow.png) no-repeat center center;}
.arrow-fix{color:#ffffff !important;}

@keyframes arrow-rotate {
	from {  }
	to { transform: rotate(180deg); }
}

.warn-arrow:active{animation: arrow-rotate 0.4s linear alternate forwards;}

.warn-list-wrap{/*width:270px;*/padding-bottom:26px;background-color: #ffffff;}
.warn-list-title{padding:8px 0;}
.warn-title-inner{padding:0 15px 0 10px;display:flex;justify-content: space-between;align-items: center;font-size: 16px;color:#ffffff;font-weight: 500;}
.warn-list-arrow{width:11px;height:12px;background: url(../img/dashboard/top-arrow.png) no-repeat center 3px;}
.warn-list{padding:0 !important;background-color: #ffffff;}
.warn-list-wrap ul,li{list-style: none;padding:0;margin:0;}
.warn-list li{padding:16px 0;border-bottom: 1px solid #e7f0f7;}
.list-inner{padding:0 10px;color:#000000;}

.error-border{border:1px solid #ec4758;}
.warn-border{border:1px solid #f9ac51;}
.urgent-border{border:1px solid #7264bd;}
.serious-border{border:1px solid #21b9bb;}
.wrap-main{margin-top: 20px;overflow: hidden;}
.wrap-l{box-sizing:border-box;width:50%;padding-right: 5px;}
.wrap-r{box-sizing:border-box;width:50%;padding-left: 5px;}
.echarts-pannel{width:100%;height:550px;border:1px solid #009c96;}
/*DASHBOARD2 END*/