/*

* Override Pages default styles or create your own styles here

*/
.al-center{
	margin:0 auto;
}
.fl{float:left;}
.fr{float:right;}


/*LOGIN CSS STYLE*/
.header-wrap{
	width:1100px;
	margin:0  auto;
}
.content-wrap{	width:1100px;margin:0  auto;height:488px;}
.footer-wrap{	width:1100px;margin:0  auto;height:85px;line-height: 85px;font-family: "PingFang SC";text-align: center;border-top: 1px solid #dddddd}
.m-t-100{
	margin-top: 100px;
}
.m-t-60{
	margin-top: 60px;
}
.mt35{margin-top: 35px;}
.mt14{margin-top: 14px;}

.content-left{margin-top: 49px;}
.login-header{}
.login-content{}
.login-footer{position: absolute;left:0;bottom:0; width:100%;}
.formWrap{width:383px;height:325px;box-shadow: 0 0 40px #dbeceb;border-radius: 5px;}
.formWrap h1{margin:0 ;padding:0;font-family: "PingFang SC";padding-left:20px;height: 50px;line-height:50px;background-color: #00d2c4;color: #fcffff;font-size: 22px;font-weight: 400;
border-top-left-radius: 5px;border-top-right-radius: 5px;}
.input-wrap{padding: 0 33px;}
.login-input{margin:0;padding:0;width:295px;height:40px;border:1px solid #dddddd;border-radius: 5px;padding-left: 20px;font-size: 14px;outline: none;}
.loginBtn{display: inline-block;width:100%;height:50px;border-radius:5px;line-height:50px;background-color: #00d2c4;color:#fcffff;text-decoration: none;outline: none;font-size: 24px;text-align: center;}
.foot-link{text-decoration: none;outline: none;color:#00d2c4;}
/*LOGIN CSS STYLE END*/

/*DASHBOARD2 BEGIN*/
.flex-box{display: flex;justify-content: space-between;align-items: center;}

.info-card{/*width:270px;*/}
.card-inner{padding:20px 33px;overflow: hidden;}

.te-error {color: #ec4758;}
.te-warn {color: #f9ac51;}
.te-urgent {color: #7264bd;}
.te-serious {color: #21b9bb;}

.th-error {background-color: #ec4758;}
.th-warn {background-color: #f9ac51;}
.th-urgent {background-color: #7264bd;}
.th-serious {background-color: #21b9bb;}

.error-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/error.png) no-repeat center center;}
.warn-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/warn.png) no-repeat center center;}
.urgent-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/urgent.png) no-repeat center center;}
.serious-icon{width:52px;height:52px;display: inline-block;background: url(../img/dashboard/serious.png) no-repeat center center;}

.th-error .mo-color-error{background-color: #e6323d;}
.th-warn .mo-color-warn{background-color: #f79339;}
.th-urgent .mo-color-urgent{background-color: #5046a9;}
.th-serious .mo-color-serious{background-color: #17a4a6;}


.warn-detail{width:40px;}
.warn-num{width:40px;font-size: 34px;line-height:34px;color:#ffffff;font-weight: 500;text-align: center;}
.warn-type{width:40px;font-size: 16px;line-height:16px;color:#ffffff;font-weight: 500;margin-top: 2px;text-align: center;}
.more-inner{padding:7px 15px;display:flex;justify-content: space-between;align-items: center;}
.more-inner span{color:#ffffff;font-weight: 500;}
.warn-arrow{width:11px;height:13px;background: url(../img/dashboard/more-arrow.png) no-repeat center center;}

@keyframes arrow-rotate {
	from {  }
	to { transform: rotate(180deg); }
}

.warn-arrow:active{animation: arrow-rotate 0.4s linear alternate forwards;}

.warn-list-wrap{/*width:270px;*/padding-bottom:26px;background-color: #ffffff;}
.warn-list-title{padding:8px 0;}
.warn-title-inner{padding:0 15px 0 10px;display:flex;justify-content: space-between;align-items: center;font-size: 16px;color:#ffffff;font-weight: 500;}
.warn-list-arrow{width:11px;height:12px;background: url(../img/dashboard/top-arrow.png) no-repeat center 3px;}
.warn-list{background-color: #ffffff;}
.warn-list-wrap ul,li{list-style: none;padding:0;margin:0;}
.warn-list li{padding:16px 0;border-bottom: 1px solid #e7f0f7;}
.list-inner{padding:0 10px;color:#000000;}

.error-border{border:1px solid #ec4758;}
.warn-border{border:1px solid #f9ac51;}
.urgent-border{border:1px solid #7264bd;}
.serious-border{border:1px solid #21b9bb;}

.echarts-pannel{width:100%;height:550px;border:1px solid #009c96;}
/*DASHBOARD2 END*/